In [20]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

import pandas as pd

In [2]:
key = ''

In [5]:
def get_data(key, data_name, numrows, enddate):
    
    url = 'http://openapi.data.go.kr/openapi/service/rest/Covid19/' + data_name + '?serviceKey=' + key
    header_params = {'pageNo': '1', 'numOfRows': str(numrows), 'startCreateDt': '20191201', 'endCreateDt': str(enddate)}
    response = requests.get(url, params=header_params)
    
    if (response.status_code == 200) & (('<resultCode>99' in response.text) != True):
        return BeautifulSoup(response.content, 'xml')
    else:
        return print("Error code:", response.status_code)

In [25]:
# 감염현황 getCovid19InfStateJson
# 시도 발생현황 getCovid19SidoInfStateJson
# 연력성별 발생현황 getCovid19GenAgeCaseInfJson
# 해외 발생현황 getCovid19NatInfStateJson

nm = ['getCovid19InfStateJson','getCovid19SidoInfStateJson','getCovid19GenAgeCaseInfJson']

col = [col1, col2, col3]
col1 = ['seq','stateDt','decideCnt','clearCnt','examCnt','deathCnt','careCnt','resutlNegCnt','accExamCnt','accExamCompCnt','accDefRate']
col2 = ['seq','stdDay','deathCnt','gubun','gubunCn','gubunEn','incDec','isolClearCnt','qurRate','defCnt','isolIngCnt','overFlowCnt','localOccCnt']
col3 = ['seq','gubun','confCase','confCaseRate','death','deathRate','criticalRate','createDt']

In [ ]:
for i in range(len(nm)):
    
    exec('{} = pd.DataFrame()'.format(nm[i]))
    df = get_data(key, nm[i], 1000, 20200803)

In [31]:
nm[i]

'getCovid19SidoInfStateJson'

In [30]:
    exec('{} = pd.DataFrame()'.format(nm[i]))
    df = get_data(key, nm[i], 1000, 20200803)
    
    for j in col[i]:

In [93]:
data = df.find_all(j)
data = [i.text for i in data]
data = pd.Series(data).to_frame()
exec('{}[' + j + '] = data[0]'.format(nm[i]))

NameError: name 'localOccCnt' is not defined

In [46]:
for j in col[i]: print(j)

seq
stdDay
deathCnt
gubun
gubunCn
gubunEn
incDec
isolClearCnt
qurRate
defCnt
isolIngCnt
overFlowCnt
localOccCnt

In [ ]:
soup = BeautifulSoup(x, 'xml')

In [ ]:
soup.find_all('gubun')

In [71]:
z

         0
0     3484
1     3483
2     3482
3     3481
4     3480
...    ...
3080     5
3081     4
3082     3
3083     2
3084     1

[3085 rows x 1 columns]